%ol
  - col = 0
  - last_show = nil
  - suggestions.each do |suggestion|
    - if last_show.nil? and suggestion.show
      - col = 0
      .clear
      %h2.show_break= Shows.find_show_title(suggestion.show)
      .clear
    - elsif last_show and last_show != suggestion.show
      - #Suggestion has show different than last show
      - col = 0
      .clear
      - text = "Show Not Listed"
      - if suggestion.show
        - text = Shows.find_show_title(suggestion.show)
      %h2.show_break.grid_12= text
      .clear
    - last_show = suggestion.show
    %li.suggestion.grid_4
      = haml :'suggestion/_bubble', :locals => {suggestion: suggestion}
    - if col >= 2
      .clear
      - col = 0
    - else
      - col += 1
