- if cluster_top
  %td.cluster-votes=suggestion.total_for_cluster
- else
  %td
%td.votes=link_and_vote_count(suggestion, request.ip)
%td.title
  =h suggestion.title
  - if suggestion.top_of_cluster? and suggestion.cluster_id
    %span.cluster-arrow
%td.user=h suggestion.user || 'No User'
%td.time
  = haml :'suggestion/_timeago', :locals => {datetime: suggestion.created_at}
