- suggestion_sets.each do |suggestion_set|
  - suggestions = suggestion_set.suggestions
  .clear
  = suggestion_set_hr(suggestion_set)
  .suggestions_table
    .total="#{suggestions.count} Title#{suggestions.count == 1 ? '' : 's'}"
    %table.sortable.zebra-striped
      %thead
        %tr
          %th.votes.header Votes
          %th.header Title
          %th.header User
          %th.header When
      %tbody
        - suggestions.each do |suggestion|
          %tr
            = haml :'suggestion/_table_row', :locals => {suggestion: suggestion}
