-if @suggestions.count > 0
  %h2.subtitle.grid_12="Title suggestions in the last 24 hours"
  %hr
  .clear
  %ol#titles
    - col = 0
    -@suggestions.each do |suggestion|
      %li.suggestion.grid_4
        .qstart “
        .vote_container
          .up 
          .votes=h suggestion.votes
          .down 
        .title=h "#{suggestion.title}"
        .qend ”
        .user=h suggestion.user
        %abbr.timeago{:title => suggestion.created_at}= suggestion.created_at.strftime("%-m/%-d/%Y at %-I:%M%P %Z")
        .show
        %span.arrow
      -if col >= 2
        .clear
        -col = 0
        -else
        -col+=1
  .clear
-else
  %h2.subtitle.grid_12 No title suggestions yet...
