!!! 5
%html
  %head
    %meta{:charset => "utf-8"}/
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    %title="Showbot #{'| ' + @title if @title}"
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link(rel="stylesheet" href="/css/reset.css") 
    %link(rel="stylesheet" href="/css/text.css") 
    %link(rel="stylesheet" href="/css/960.css") 
    %link(rel="stylesheet" href="/css/showbot.css") 
  %body
    #wrap.container_12
      #header
        %h1.logo
          %a{:href => '/'}Showbot
          -# display:none so the heart doesn't briefly show
          .heart{:style => 'display:none;'}="\<<span>3</span>"
        %nav
          %ul
            %li
              %a{:href => '/titles'}Titles
            %li
              %a{:href => '/links'}Links
      .clear
      %hr
      -if development?
        %h2.development_mode DEVELOPMENT MODE

      #content
        =yield

      .footer_push
    #footer_container
      .container_12
        %abbr#bot_love.grid_12{:title => "Not like that."} Showbot loves you.
      #footer
        .container_12 
          %ul
            %li.grid_3.push_2
              %h2 Why
              %p="The jackals in the 5by5 Chat think they know what the title " +                   |
                "of the show should be. Showbot passes no judgements. Showbot collects" +           |
                " the title suggestions from IRC and shows them here. Showbot is here to help."     |
            %li.grid_3.push_2
              %h2 Who
              %p Showbot was created by Jeremy Mack, <a href="http://twitter.com/mutewinter">@mutewinter</a>.
              %p Showbot also receives love from coders in the 5by5 community on Github.
            %li.grid_3.push_2
              %h2 Where
              %p <a href="http://github.com/mutewinter/Showbot">Showbot on Github</a>
              %p <a href="http://5by5.tv/chat">Showbot in IRC</a>
              %p <a href="http://5by5.tv">5by5.tv</a>

    / Javascript at the bottom for fast page loading
    / Grab Google CDN's jQuery. fall back to local if necessary
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    :javascript
      !window.jQuery && document.write('<script src="/js/jquery.min.js"><\/script>')
    / Modernizer
    %script{:type => "text/javascript", :src  => "/js/modernizr.custom.js"}
    / JQuery Plugins
    %script{:type => "text/javascript", :src  => "/js/jquery.timeago.js"}
    / Main JS
    %script{:type => "text/javascript", :src  => "/js/showbot.js"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24163893-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
