!!! 5
%html
  %head
    %meta{:charset => "utf-8"}/
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    %title Showbot
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link(rel="stylesheet" href="css/reset.css") 
    %link(rel="stylesheet" href="css/text.css") 
    %link(rel="stylesheet" href="css/960.css") 
    %link(rel="stylesheet" href="showbot.css") 
  %body
    .container_12
      #header
        %h1 Showbot
        -if development?
          %h2.development_mode DEVELOPMENT MODE

      #content
        =yield

      #footer.grid_12
        %abbr{:title => "Not like that."} Showbot loves you.

    / Javascript at the bottom for fast page loading
    / Grab Google CDN's jQuery. fall back to local if necessary
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"}
    :javascript
      !window.jQuery && document.write('<script src="js/jquery.min.js"><\/script>')
    / JQuery Plugins
    %script{:type => "text/javascript", :src  => "js/jquery.timeago.js"}
    / Main JS
    %script{:type => "text/javascript", :src  => "js/showbot.js"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24163893-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
