
h1 {
  color: #1f69bd;
}

h2.subtitle {
  margin-bottom: 45px;
  text-align: center;
  font-size: 300%;
}

.suggestion {
  display: block;
  width: 200px;
  margin-bottom: 10px;

  .title_group {
    margin-bottom: 0;
    line-height: 160%;
    background: #c5c5c5;
    padding: 20px;

    background-image: url(images/open_quote.png);
    background-repeat: no-repeat;
    background-position: left 5px;
    padding-left: 30px;

    .span {
      background-image: url(images/close_quote.png);
      background-repeat: no-repeat;
      background-position: right bottom;
      display: block;
      padding-right: 30px;
      margin-right: -20px;
     .title {
       text-align: center;
     }
    }
    
  }

  .user {
    float: right;
    font-size: 10px;
  }

  .time {
    float: left;
    font-size: 10px;
  }

  .show {
    font-size: 10px;
    text-align: center;
  }
}

