// showbot.scss
// All of the styling a bot needs.

// Variables
$showbot_blue: #1f69bd;

// Mixins

@mixin quote_base {
  font-size: 600%;
  position: relative;
  color: $showbot_blue;
}

@mixin box_shadow {
  $shadow_size: 2px;
  $shadow_spread: 2px;
  $shadow_color: #999; 
  -moz-box-shadow: $shadow_size $shadow_size $shadow_spread $shadow_color;
  -webkit-box-shadow: $shadow_size $shadow_size $shadow_spread $shadow_color;
  box-shadow: $shadow_size $shadow_size $shadow_spread $shadow_color;
}

@mixin striped_background {
  // Crazy background stripes
  background-image: -webkit-gradient(linear, 0 100%, 100% 0,
  color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
  color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
  color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
  to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
  transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
  transparent 75%, transparent);
  background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
  transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
  transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
  transparent 75%, transparent);
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;
}

@mixin etched_text {
  font-weight: bold;
  color: #B3B3B3;
  color: rgba(0,0,0,0.35);
  text-shadow: 0px 1px 0px #fff;
  text-shadow: 0px 1px 0px rgba(255,255,255, 0.9);
}

body { 
  background: #f0f0f0 url('images/main_bg.png') top center;
}

h1 {
  color: $showbot_blue;
  font-size: 30px;
  font-variant: small-caps;
}

h2.subtitle {
  margin-bottom: 45px;
  text-align: center;
  font-size: 300%;
}

hr {
  padding-bottom: 40px;
}

.suggestion {
  $title_background: #d2e4f8;
  display: block;
  width: 200px;
  margin-bottom: 10px;


  .qstart {
    @include quote_base;
    float: left;
    margin-top: -42px;
    margin-bottom: -30px;
    margin-right: -20px;
  }

  .qend {
    @include quote_base;
    float: right;
    margin-top: -40px;
    margin-bottom: -100px;
    margin-left: -20px;
    z-index: 1;
  }

  .title {
    padding: 20px;
    text-align: center;
    font-size: 190%;
    color: #0f0f0f;
    text-shadow: 1px 1px 1px #999;
    text-shadow: rgba(80,80,80,0.5) 0 1px 2px;
    line-height: 100%;
    background-color: $title_background;
    font-size: 24px;
    @include striped_background;
    
   }

  .user {
    float: right;
    font-size: 130%;
    padding-top: 30px;
    padding-right: 10px;
    @include etched_text;
  }

  .timeago {
    font-size: 13px;
    @include etched_text;
  }

  .show {
    font-size: 10px;
    text-align: center;
  }

  span.arrow {
    width: 0; 
    height: 0;
    border-top: 30px solid $title_background;
    border-left: 50px solid transparent;
    border-right: 10px solid transparent;
    position: relative;
    bottom: -9px;
    right: -200px;
  }

}


#footer {
  font-size: 24px;
  font-weight: bold;
  padding-top: 50px;
  text-align: center;
  @include etched_text;
}
