// showbot.scss
// All of the styling a bot needs.

// Variables
$showbot_blue: #1f69bd;
$footer_height: 200px;

// Mixins

@mixin quote_base {
  font-size: 600%;
  position: relative;
  color: $showbot_blue;
}

@mixin striped_background {
  // Crazy background stripes
  background-image: -webkit-gradient(linear, 0 100%, 100% 0,
  color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
  color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
  color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
  to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
  transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
  transparent 75%, transparent);
  background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
  transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
  transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
  transparent 75%, transparent);
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;
}

@mixin etched_text($color: #000, $fallback: #B3B3B3) {
  font-weight: bold;
  color: $fallback;
  color: rgba($color, 0.35);
  text-shadow: 0px 1px 0px #fff;
  text-shadow: 0px 1px 0px rgba(255,255,255, 0.9);
}

html body { 
  background: #f0f0f0 url('images/main_bg.png') top center;
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#content {
  overflow:auto;
	padding-bottom: 10px;
}

h1 {
  color: $showbot_blue;
  font-size: 30px;
  font-variant: small-caps;
}

h2.subtitle {
  margin-bottom: 45px;
  text-align: center;
  font-size: 300%;
}

h2.development_mode {
  background: red;
}

a {
  color: #8b87fa;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

hr {
  padding-bottom: 40px;
}

.suggestion {
  $title_background: #d2e4f8;
  display: block;
  width: 200px;
  margin-bottom: 20px;

  .qstart {
    @include quote_base;
    float: left;
    margin-top: -42px;
    margin-bottom: -30px;
    margin-right: -20px;
  }

  .qend {
    @include quote_base;
    float: right;
    margin-top: -40px;
    margin-bottom: -100px;
    margin-left: -20px;
    z-index: 1;
  }

  .title {
    padding: 20px;
    text-align: center;
    word-wrap: break-word;
    font-size: 190%;
    color: #0f0f0f;
    text-shadow: 1px 1px 1px #999;
    text-shadow: rgba(80,80,80,0.5) 0 1px 2px;
    line-height: 100%;
    background-color: $title_background;
    font-size: 24px;
    @include striped_background;
   }


  .timeago {
    font-size: 13px;
    width: 120px;
    @include etched_text;
  }

  .show {
    color: #606060;
    color: rgba(0, 0, 0, 0.6);

    font-size: 12px;
    text-align: right;
    font-weight: bold;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;	
    transition: all .3s ease-in-out;
    z-index: -1;
    position: relative;
    top:20px;
  }

  &:hover {
    .show.hover {
      opacity: 1;
      top:0px;
    }
  }

  .arrow_user {
    span.arrow {
      width: 0; 
      height: 0;
      border-top: 30px solid $title_background;
      border-left: 50px solid transparent;
      border-right: 10px solid transparent;
      position: relative;
      bottom: -8px;
      right: -190px;
      z-index: -1;
    }

    .user {
      float: right;
      text-align: center;
      min-width: 120px;
      font-size: 130%;
      padding-top: 11px;
      @include etched_text;
    }
  }
}

.show_break {
  text-align: center;
  color: #606060;
  color: rgba(0,0,0,0.6);
  
  background: url(images/hr_gap.png) no-repeat 50% 20px;
  
}

#love_container {
  position: relative;
  margin-top: -$footer_height;
  height: $footer_height;
  clear:both;
}

#bot_love {
  font-size: 16px;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
  @include etched_text;
}

#footer {
  box-shadow: inset 0 20px 20px -20px #000000;

  text-shadow: 0px 1px 3px #000;
  text-shadow: 0px 1px 3px rgba(0,0,0, 0.8);
  
  background: #607082 url('images/main_bg.png') top center;
  padding-top: 20px;
  color: #EEEEEE;

  h2 {
    text-shadow: 0px 1px 3px #000;
    text-shadow: 0px 1px 3px rgba(0,0,0, 0.8);
  }

  a {
    color: #FFFFFF;
    font-weight: bold;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    transition: .3s all;
    &:hover{
      color: #BBBBBB;
    }
  }
}
